#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logo {
  text-decoration: none;
  color: rgb(74, 109, 61);
  font-size: 5vh;
  font-weight: bold;
  
}
	
#menu-icon {
  font-family: Geneva, sans-serif;
  font-size: 6vh;
}
#page-wrap { 
  max-width: 500px; 
  margin: 1rem auto;
  padding: 1rem;
}
#instructions {
	position: absolute;
	color: #666;
	bottom: 0;
	padding-bottom: 6px;
	font-family: sans-serif;
	width: 100%;
	text-align: center;
	pointer-events: none;
}
*{
  box-sizing: border-box;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: #113009;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: #1e512c;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: darkgreen;
  border-radius: 25px;
}









@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans:wght@300&display=swap");
*{
  box-sizing: border-box;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background-color: #113009;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: #1e512c;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: darkgreen;
  border-radius: 10px;
}




/*General styling for structure*/
body {
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
  background: linear-gradient(130deg, #0b421b, #232a21,#1c3417,rgb(28, 56, 58));

}



.hero {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	padding: 1em;
	box-sizing: border-box;
	color: rgb(87, 114, 86);
	background: url("./AMN08611.JPG") center center no-repeat;
	background-size: cover;
}

.hero-title {
	max-width: 16em;
	margin: 0;
	font-size: 12vh;
	font-weight: bold;
	line-height: .9;
  color: rgb(87, 114, 86);

}
	
	@media only screen and (min-width: 32em) { .hero-title { font-size: 16vh; } }	

.hero-footer {
	display: flex;
	margin-bottom: 1em;
}

.button {
	padding: .5em .67em;
	color: rgb(59, 82, 56);
	text-decoration: none;
	border: .1em solid rgb(127, 127, 127);

}
	
	.button-primary {
		color: black;
		background-color: rgb(48, 47, 47);
	}
	

article {
	max-width: 36em;
	margin: 0 auto;
	padding: 1em;
}	
nav {
    position: absolute;
    top: 9%;
    right: 0;
    left: 40%;
    width: 319px;
    display: table;
    margin: 0 auto;
    transform: translateY(-50%);
  }
  
  nav a {
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
  }
  
  nav a:before,
  nav a:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
  }
  
  nav a:before {
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
  }
  
  nav a:after {
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px;
  }
  
  nav a:nth-child(1):before {
    background-color: rgb(22, 60, 24);
  }
  
  nav a:nth-child(1):after {
    background-color: rgb(17, 52, 26);
  }
  
  nav a:nth-child(2):before {
    background-color: #1e512c;
  }
  
  nav a:nth-child(2):after {
    background-color: #325c30;
  }
  
  nav a:nth-child(3):before {
    background-color: rgb(39, 108, 41);
  }
  
  nav a:nth-child(3):after {
    background-color: rgb(44, 98, 33);
  }
  
  #indicator {
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease left;
  }
  
  nav a:hover {
    color: rgb(37, 61, 31);
  }
  
  nav a:hover:before,
  nav a:hover:after {
    transform: scale(1);
  }
  
  nav a:nth-child(1):hover ~ #indicator {
    background: linear-gradient(130deg, rgb(31, 55, 29), rgb(27, 135, 60));
  }
  
  nav a:nth-child(2):hover ~ #indicator {
    left: 34%;
    background: linear-gradient(130deg, #0e2b16, #11ff00);
  }
  
  nav a:nth-child(3):hover ~ #indicator {
    left: 70%;
    background: linear-gradient(130deg, rgb(34, 77, 31), rgb(15, 218, 8));
  }
.scroll-container:nth-of-type(1) {
  border-radius: 25px;
  width: auto;
  background: linear-gradient(130deg, #0b421b, #4e6f44,#3a6b2e,rgb(28, 56, 58));
}
.scroll-container:nth-of-type(2) {
  border-radius: 25px;
  width: auto;
  background: linear-gradient(130deg, #0b421b, #4e6f44,#3a6b2e,rgb(28, 56, 58));
}
.scroll-container:nth-of-type(3) {
  border-radius: 25px;
  width: auto;
  background: linear-gradient(130deg, #0b421b, #4e6f44,#3a6b2e,rgb(28, 56, 58));
}
.scroll-container:nth-of-type(4) {
  border-radius: 25px;
  width: auto;
  background: linear-gradient(130deg, #0b421b, #4e6f44,#3a6b2e,rgb(28, 56, 58));
}

.scroll-container:nth-of-type(even) {
  flex-direction: row-reverse;
}
.scroll-container img{
  border-radius: 25px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Merriweather", serif;
  height: 100vh;
}

header h2 {
  font-weight: 400;
}

.scroll-container {
  height: 100vh;
  min-height: 450px;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.scroll-container:nth-of-type(1) {
  border-radius: 25px;
  color: #3a6b2e;
  background: linear-gradient(130deg, #0b421b, #151212,#113009,rgb(21, 44, 46));
}
.scroll-container:nth-of-type(2) {
  border-radius: 25px;
  color: #3a6b2e;
  background: linear-gradient(130deg, #0b421b, #151212,#113009,rgb(21, 44, 46));
}
.scroll-container:nth-of-type(3) {
  border-radius: 25px;
  color: #3a6b2e;
  background: linear-gradient(130deg, #0b421b, #151212,#113009,rgb(21, 44, 46));
}
.scroll-container:nth-of-type(4) {
  border-radius: 25px;
  color: #3a6b2e;
  background: linear-gradient(130deg, #0b421b, #151212,#113009,rgb(21, 44, 46));
}

.scroll-container:nth-of-type(even) {
  flex-direction: row-reverse;
}
.scroll-container img{
  border-radius: 25px;
}

.scroll-element,
.scroll-caption {
  width: 50%;
}

.scroll-element {
  box-sizing: border-box;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  display: flex;
  background:rgba(255, 255, 255, 0);
  border-radius: 25px;
  
}

.scroll-caption {
  margin: 1rem;
}

footer {
  text-align: center;
  padding: 0.5rem 0;
  background-color: #c8800e;
}

footer p {
  font-size: 0.75rem;
  margin: 0.25rem 0;
  color: #221133;
}

footer a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 650px) {
  .scroll-container,
  .scroll-container:nth-of-type(even) {
    flex-direction: column;
    align-content: inherit;
  }

  .scroll-element {
    height: 100%;
  }

  .scroll-element,
  .scroll-caption {
    width: 100%;
  }
}
/**Styling scrollable elements*/

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");




.footer {
  position: relative;
  width: 100%;
  background: linear-gradient(130deg, #0b421b, #151212,#307342,rgb(10, 38, 40));
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}
/*
.menu__link:hover {
  opacity: 0;
}
*/

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}